<!DOCTYPE HTML>
<html>
	<head>
		<title>Overview</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/css/main.css" />
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://kit.fontawesome.com/d1749e6def.js" crossorigin="anonymous"></script>
        <script>
            $(document).ready(function(){
                $(".hamburger").click(function(){
                    $(".wrapper").toggleClass("collapse");
                });
            });
        </script>
	</head>
	<body class="subpage">
        <div class="wrapper">
            <div class="top_navbar">
                <div class="hamburger">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="top_menu">
                    <div class="logo">Budgetting</div>
                    <ul class="sidebar-list">
                        <li id="dropdown">
                            <a><i class="fas fa-user"></i>
                                <div id="dropdown-content">
                                    <a href="#">View Profile</a>
                                    <a href="/logout">Sign Out</a>
                                </div>
                            </a>
                        </li>          <!-- profile -->
                        <li><a href="#"><i class="fas fa-home"></i></a></li>  <!-- home -->
                    </ul>
                </div>
            </div>

            <div class="sidebar">
                <ul class="sidebar-list">
                    <li><a href="/adding">
                        <span class="icon"><i class="fas fa-plus-circle" aria-hidden="true"></i></span>
                        <span class="title">Add Form</span>
                    </a></li>
                    <li><a href="/pieChart">
                        <span class="icon"><i class="fas fa-chart-pie" aria-hidden="true"></i></span>
                        <span class="title">Donut Chart</span>
                    </a></li>
                    <li><a href="#">
                        <span class="icon"><i class="fas fa-chart-bar" aria-hidden="true"></i></span>
                        <span class="title">Bar Chart</span>
                    </a></li>
                    <li><a href="/monthlyExpensesTable" class="active">
                        <span class="icon"><i class="fas fa-wallet" aria-hidden="true"></i></span>
                        <span class="title">Monthly Expenses</span>
                    </a></li>
                    <li><a href="/monthlyIncomeTable">
                        <span class="icon"><i class="fas fa-file-invoice-dollar" aria-hidden="true"></i></span>
                        <span class="title">Monthly Income</span>
                    </a></li>
                    <li><a href="/monthlySavingsTable">
                        <span class="icon"><i class="fas fa-hand-holding-usd" aria-hidden="true"></i></span>
                        <span class="title">Monthly Savings</span>
                    </a></li>
                </ul>
            </div>

            <div class="main-content">
                <div class="new-item">
                    <h2>Monthly Expenses</h2>
                    <table border='1'>
                        <tr>
                            <th>CATEGORY</th>
                            <th>ITEM</th>
                            <th>DATE</th>
                            <th>AMOUNT</th>
                        </tr>

                        <%
                        if(userData.length!=0) {
                            var i=1;
                            userData.forEach(function(data){
                        %>
                            <tr>
                                <td><%=expCategories[data.category] %></td>
                                <td><%=data.description %></td>
                                <td><%=data.month %>/<%=data.day %>/<%=data.year%></td>
                                <td><%=data.price %></td>
                                <!-- <td><a href="/user/edit/<%=data.id%>">Edit</a></td> -->
                                <td><a href="/user/delete/<%=data.id%>">Delete</a></td>
                            </tr>
                        <% i++; }) %>
                        <% } else { %>
                            <tr>
                                <td> colspan="3">No Data Found</td>
                            </tr>
                        <% } %>
                    </table>
                </div>
            </div>
        </div>

            <!-- Scripts -->
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets//js/util.js"></script>
        <script src="/assets//js/main.js"></script>

	</body>
</html>